@import './base.css';

body {
    background-color: rgb(235, 234, 238);
}

.container.base{
    padding-top: 80px;
    padding-bottom: 60px;
}

.navbar.base{
    background-color: #d6d8c280;
    backdrop-filter: blur(7px); 
}
